$primarycolor: #486455;
$secondarycolor: #e4af47;

.overlaySignIn {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3); // semi-transparent dark overlay
  z-index: 50;
  display: none;
}

.overlaySignInChildren {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); // center horizontally and vertically
  z-index: 10;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.overlaySignInChild {
  display: flex;
  flex-direction: column;
  gap: 0.4cm;
  align-items: center;
  justify-content: center;
  width: 50vw;
  padding: 0.8cm;
  border: 2px solid $primarycolor;
  border-radius: 5px;
  background-color: whitesmoke;
}

.overlaySignInChild1 {
  font-size: 16px;
  font-weight: bolder;
  margin-bottom: 0.8cm;
}

.overlaySignInChildBtn1 {
  padding: 0.2cm 0.4cm;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid $primarycolor;
  color: $primarycolor;
  cursor: pointer;
  &:hover {
    background-color: $primarycolor;
    color: whitesmoke;
  }
}

.overlaySignInChildBtn2 {
  padding: 0.2cm 0.4cm;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid $primarycolor;
  cursor: pointer;
  background-color: $primarycolor;
  color: whitesmoke;
  &:hover {
    background-color: transparent;
    color: whitesmoke;
    color: $primarycolor;
  }
}
.Shop {
  // padding: 0 5vw 1cm 5vw;
}

.shopHead {
  background-color: white;
  padding: 0.2cm;

  .shopHeadText {
    font-size: 30px;
    font-family: Quattrocento;
    font-weight: bold;
  }
}

.nproducts {
  width: 100%;
}

.noProductDiv {
  // display: flex;
  // flex-direction: column;
  // flex-wrap: wrap;
  // align-items: center;
  // justify-content: center;
  // gap: 0.2cm;
}

.noProductImg {
  min-width: 4.5cm;
}

.shop-cats-box {
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2cm 0;
  gap: 0.1cm;
  // border: thin solid ;
  border-bottom: thin solid $primarycolor;
  background-color: white;
}

.shop-cat-name {
  padding: 0.2cm 0.8cm;
  color: #31443a;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  &:hover {
    background-color: $primarycolor;
    color: #e4af47;
  }
}

.activeCat {
  background-color: $primarycolor;
  color: $secondarycolor;
}

.dropdown-wrapper {
  position: relative;
  display: inline-block;

  .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 99;
    padding: 0.5cm;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    // min-width: 400px;

    .dropdown-content-col {
      display: flex;
      // flex-direction: row;
      // gap: 2rem;

      .dropdown-content-col1 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        min-width: 3cm;
        // border-right: thin solid $primarycolor;
        .dropdown-heading {
          font-weight: bold;
          font-size: 12px;
          color: #31443a;
          margin-bottom: 0.4rem;
          cursor: pointer;
          padding-right: 0.2cm;
          &:hover {
            color: $secondarycolor;
            text-decoration: underline dotted;
          }
        }
      }

      // .dropdown-content-col2 {
      //   display: flex;
      //   flex-direction: column;
      //   min-width: 100px;
      //   justify-content: flex-start;
      //   align-items: flex-start;

      //   a {
      //     font-size: 13.5px;
      //     color: #293c2e;
      //     text-decoration: none;
      //     padding: 0.1rem 0;

      //     &:hover {
      //       color: $secondarycolor;
      //     }
      //   }
      // }
    }
  }

  // 👇 Show dropdown on hover
  &:hover .dropdown-content {
    display: block;
  }
}


.walkDrop {
  position: relative;

  .dropdown-content {
    left: auto; // Cancel left alignment
    right: 0; // Align to the right of the button
    max-height: 400px; // Add height limit for long dropdowns
    overflow-y: auto;
    white-space: nowrap;
    width: max-content;
    z-index: 999;
  }
}

.playDrop{
  position: relative;

  .dropdown-content {
    left: auto; // Cancel left alignment
    right: 0; // Align to the right of the button
    max-height: 400px; // Add height limit for long dropdowns
    overflow-y: auto;
    white-space: nowrap;
    width: max-content;
    z-index: 999;
  }
}
.ProductCardRow {
  padding: 1cm;
  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  // gap: 0.8cm;
  // align-items: center;
  // justify-content: center;

    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
    // grid-template-rows: repeat(auto-fit, minmax(20vw, 1fr));
justify-content: center; 
// align-items: center;
  // justify-content: center; /* 💥 centers grid content */
  gap: 0.5cm;
  // padding: 1rem;
  max-width: 1200px;
  margin: 0 auto; 
}

// .ProductCardRow {
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); // 💡 Responsive
//   gap: 0.5cm;
//   justify-content: center; // 💡 Centers 1 card case
//   padding: 1cm 5vw;
//   max-width: 1200px;
//   margin: 0 auto;
// }

.ProductCard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  border-radius: 10px;
  max-width: fit-content;
  // min-width: 9cm;
  min-width: fit-content; /* Allow it to shrink */
  cursor: pointer;
  background-color: whitesmoke;
  background-image: url("https://www.transparenttextures.com/patterns/connected.png");
  padding: 0.2cm;
  transition: transform 0.3s ease-in-out;
  border-top: 2px solid $primarycolor;
  border-bottom: 2px solid $primarycolor;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  
}

.imgCont {
  position: relative;
  overflow: hidden;
  width: 20vw;
  height: auto;
  border-radius: 5px;
}

// .productImg {
//   width: 100%;
//   height: 100%;
//   transition: transform 0.3s ease-in-out;
//   object-fit: cover;
// }

.productImg {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
  object-fit: cover;
}

.ProductCard:hover .productImg {
  transform: scale(1.08);
}

.overlayProdCard {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5cm;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 10;
  padding: 0.2cm 0.15cm;
}

.imgCont:hover .overlayProdCard {
  opacity: 1;
}

.smallBtn {
  width: 0.7cm;
  background-color: rgb(255, 255, 255);
  border-radius: 30%;
  padding: 4px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.productName {
  font-size: 18px;
  color: #293c2e;
  font-weight: 600;
  /* text-align: center; */
  margin-top: 8px;
  text-align: left;
}

.productCategory {
  font-size: 12px;
  color: #496d52;
  font-weight: 300;
  text-align: left;
}

.productPrice {
  font-size: 16px;
  color: #35473d;
  font-weight: 550;
  text-align: left;
}

.smallImgCartContHollow {
  position: relative;
}

.smallImgCartContHollow::after {
  position: absolute;
  content: "Add to Cart";
  color: rgb(223, 185, 80);
  background-color: #40533e;
  top: 0.12cm;
  left: 1.53cm;
  width: 2.5cm;
  height: auto;
  padding: 0.15cm;
  font-size: 12px;
  font-weight: bolder;
  opacity: 0;
  transition: ease-in-out 0.45s;
  border-radius: 01px 5px 5px 0;
}

.smallImgCartContHollow::before {
  position: absolute;
  content: "";
  top: 0.095cm;
  left: 1.28cm;
  width: 0cm;
  height: 0cm;
  font-size: 13px;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-right: 10px solid #425240;
  opacity: 0;
  transition: ease-in-out 0.45s;
}

.smallImgCartContHollow:hover::after,
.smallImgCartContHollow:hover::before {
  opacity: 1;
}

.smallImgCartContFilled {
  position: relative;
}

.smallImgCartContFilled::after {
  position: absolute;
  content: "Remove from Cart";
  color: rgb(223, 185, 80);
  background-color: #40533e;
  top: 0.12cm;
  left: 1.53cm;
  width: 2.5cm;
  height: auto;
  padding: 0.15cm;
  font-size: 12px;
  font-weight: bolder;
  opacity: 0;
  transition: ease-in-out 0.45s;
  border-radius: 01px 5px 5px 0;
}

.smallImgCartContFilled::before {
  position: absolute;
  content: "";
  top: 0.095cm;
  left: 1.28cm;
  width: 0cm;
  height: 0cm;
  font-size: 13px;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-right: 10px solid #425240;
  opacity: 0;
  transition: ease-in-out 0.45s;
}

.smallImgCartContFilled:hover::after,
.smallImgCartContFilled:hover::before {
  opacity: 1;
}

.smallImgHeartContHollow {
  position: relative;
}

.smallImgHeartContHollow::after {
  position: absolute;
  content: "Add to Wishlist";
  color: rgb(223, 185, 80);
  background-color: #40533e;
  top: 0.055cm;
  left: 1.53cm;
  width: 2.5cm;
  height: auto;
  padding: 0.18cm;
  font-size: 12px;
  font-weight: bolder;
  opacity: 0;
  transition: ease-in-out 0.45s;
  border-radius: 01px 5px 5px 0;
}

.smallImgHeartContHollow::before {
  position: absolute;
  content: "";
  top: 0.055cm;
  left: 1.28cm;
  width: 0cm;
  height: 0cm;
  font-size: 13px;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-right: 10px solid #40533e;
  opacity: 0;
  transition: ease-in-out 0.45s;
}

.smallImgHeartContHollow:hover::after,
.smallImgHeartContHollow:hover::before {
  opacity: 1;
}

.smallImgHeartContFilled {
  position: relative;
}

.smallImgHeartContFilled::after {
  position: absolute;
  content: "Remove from Wishlist";
  color: rgb(223, 185, 80);
  background-color: #40533e;
  top: 0.055cm;
  left: 1.53cm;
  width: 2.8cm;
  height: auto;
  padding: 0.18cm;
  font-size: 11px;
  font-weight: bolder;
  opacity: 0;
  transition: ease-in-out 0.45s;
  border-radius: 01px 5px 5px 0;
}

.smallImgHeartContFilled::before {
  position: absolute;
  content: "";
  top: 0.055cm;
  left: 1.28cm;
  width: 0cm;
  height: 0cm;
  font-size: 13px;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-right: 10px solid #40533e;
  opacity: 0;
  transition: ease-in-out 0.45s;
}

.smallImgHeartContFilled:hover::after,
.smallImgHeartContFilled:hover::before {
  opacity: 1;
}

@media screen and (max-width: 1024px) and (min-width: 850px) {
  .categoryBtn {
    font-size: 14px;
  }

  .ProductCardRow {
    gap: 0.6cm;
  }

  .ProductCard {
    // max-width: 8cm;
    padding: 0.15cm 0.25cm;
  }

  .imgCont {
    align-self: center;
    // width: 8.5cm;
  }
}

@media screen and (max-width: 850px) and (min-width: 750px) {
  .categoryBtn {
    font-size: 14px;
  }

  .shop-cats-box {
    padding: 0.2cm 0;
  }

  .shop-cat-name {
    padding: 0.2cm 0.6cm;
  }

  .ProductCardRow {
    gap: 0.4cm;
  }

  .ProductCard {
    // width: 7cm;
    padding: 0.1cm 0.1cm;
  }

  .imgCont {
    align-self: center;
    // width: 7.5cm;
  }

  .productName {
    font-size: 16px;
  }
  .productPrice {
    font-size: 14px;
  }
}

@media screen and (max-width: 750px) and (min-width: 650px) {
  .categoryBtn {
    font-size: 14px;
  }
  .shop-cats-box {
    padding: 0.2cm 0;
    // gap:0.2cm
  }

  .shop-cat-name {
    padding: 0.2cm;
    font-size: 14px;
  }

  .ProductCardRow {
    gap: 0.4cm;
  }

  .ProductCard {
    // width: 5.5cm;
    padding: 0.1cm 0.1cm;
  }

  .imgCont {
    align-self: center;
    // width: 6.5cm;
  }
  .productName {
    font-size: 14px;
  }
  .productPrice {
    font-size: 11px;
  }
}

@media screen and (max-width: 650px) and (min-width: 550px) {
  .categoryBtn {
    font-size: 14px;
  }
  .shop-cats-box {
    justify-content: space-evenly;
    padding: 0.2cm 0;
    // gap:0.2cm
  }

  .shop-cat-name {
    padding: 0.2cm 0.4cm;
    font-size: 14px;
  }

  .ProductCardRow {
    gap: 0.4cm;
  }

  .ProductCard {
    // width: 4.5cm;
    padding: 0.1cm 0.1cm;
  }

  .imgCont {
    align-self: center;
    // width: 4.5cm;
  }
  .smallBtn {
    width: 0.5cm;
    padding: 2px;
  }
  .overlayProdCard {
    gap: 5px;
    padding: 0.1cm 0.1cm;
  }
  .productName {
    font-size: 13px;
  }
  .productPrice {
    font-size: 11.5px;
  }
}

@media screen and (max-width: 550px) and (min-width: 450px) {
  .ProductCard {
    // width: 3.5cm;
    width: fit-content;
    padding: 0.1cm 0.1cm;
  }
  .shop-cats-box {
    justify-content: space-evenly;
    // padding: 0.2cm 0;
  }

  .shop-cat-name {
    padding: 0.2cm;
    font-size: 14px;
  }

  .imgCont {
    align-self: center;
    width: 50vw;
    padding: none;
    margin: none;
  }
.productImg{
  // width: 30vw;
}
  .productName {
    font-size: 12px;
  }
  .productPrice {
    font-size: 11px;
  }
  .smallBtn {
    width: 0.5cm;
    padding: 2px;
  }

  .overlayProdCard {
    width: 1cm;
    padding: 0.15cm 0.1cm;
  }
  .productName {
    margin-top: 5px;
  }
}

@media screen and (max-width: 450px) {
  .ProductCardRow {
   display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40vw, 1fr));
  justify-content: center; /* 💥 centers grid content */
  gap: 0.5cm;
  // padding: 1rem;
  // max-width: 1000px;
  margin: 0 auto; 

  }
  .ProductCard {
    width: 2.5cm !important;
    height: 5.2cm;
    padding: 0.1cm;
    border-radius: 0;
    background: none;
    // background-color: #ffffffe8;
    color: $primarycolor;
    //  flex: 1 1 50%;
    // max-width: 100%;
  }
  .shop-cats-box {
    justify-content: space-evenly;
    // padding: 0.2cm 0;
  }

  .shop-cat-name {
    padding: 0.2cm;
    font-size: 12px;
  }

  .imgCont {
    width: 100%;
    border-radius: 0;
    // width: 30vw;
    align-self: center;
  }

  .productImg {
    width: 3.5cm !important;
    height: 3.5cm !important;
  }

  .overlayProdCard {
    width: 0.8cm;
  }
  .smallBtn {
    width: 0.5cm;
  }

  .productCategory,
  .productName,
  .productPrice {
    // background-color: rgb(254, 254, 254);
    color: $primarycolor;
    padding: 0 0.1cm;
    font-size: 11px;
    width: 100%;
    margin: 0;
  }

  .wearDrop,
  .sleepDrop {
    position: relative;
    .dropdown-content {
      left: 0;
      right: auto;
    }
  }
  .playDrop,
  .walkDrop {
    position: relative;

    .dropdown-content {
      right: 0; // aligns right edge with button
      left: auto;
      max-width: 90vw;
      width: max-content;
      white-space: nowrap;
      overflow-x: auto;
    }
  }
}

@media screen and (max-width: 420px) {
  .shop-cats-box {
    padding: 0.1cm 0;
  }

  .shop-cat-name {
    padding: 0.1cm;
    font-size: 10px;
    font-weight: 550;
  }
}

@media screen and (max-width: 768px) {
  .overlayProdCard {
    opacity: 1;
  }
}
