$primarycolor: #486455;
$secondarycolor: #e4af47;
$headFont: Quattrocento;

* {
  margin: 0;
  padding: 0;
}

.WishlistComponent {
  width: 100%;
}

.WishlistDiv {
  margin-top: 0.8cm;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8cm;
}

.WishlistRow1 {
  color: $primarycolor;
  font-size: 32px;
  font-family: $headFont;
  text-align: center;
  margin-bottom: 1cm;
  font-weight: 600;
}

.WishlistTable {
  padding: 0.2cm;
  border: thin solid $primarycolor;
  box-shadow: 0px 2px 0.8px 0.6px grey;
  border-radius: 8px;
  width: 80vw;
  background-color: whitesmoke;
}

.tableHead {
  border-bottom: thin solid $primarycolor;
}
.ListHead,
.ListData {
  padding: 0.4cm;
  align-items: center;
  max-width: 18vw;
}

.ListData {
  // border-top: thin solid $primarycolor;
  justify-content: center;
  align-items: center;
}

.alignCenter {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.tableData {
  opacity: 0;
  animation: appearSlow 1s ease-in-out forwards;
}

.tableData:hover .ListData {
  border-bottom: 1px solid #476e4df2;
}

@keyframes appearSlow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.ListImg {
  width: 2.5cm;
}

.AddToCartBtn {
  padding: 0.2cm 0.6cm;
  background-color: $primarycolor;
  border: none;
  border-radius: 25px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  font-weight: bold;
  cursor: pointer;
  display: none;
  &:hover {
    background-color: #3b5145;
  }
}

.AddToCartBtnImg {
  width: 0.8cm;
  padding: 0.3cm;
  background-color: $primarycolor;
  border: none;
  border-radius: 50%;
  box-shadow: rgba(92, 92, 92, 0.08) 0px 2px 4px,
    rgba(75, 75, 75, 0.13) 0px 2px 4px;
  font-weight: 400;
  cursor: pointer;

  &:hover {
    background-color: #3b5145;
  }
}
.deleteBtn {
  width: 0.8cm;
  padding: 0.3cm;
  background-color: rgb(210, 0, 0);
  border: none;
  border-radius: 50%;
  box-shadow: rgba(92, 92, 92, 0.08) 0px 2px 4px,
    rgba(75, 75, 75, 0.13) 0px 2px 4px;
  font-weight: 400;
  cursor: pointer;

  &:hover {
    background-color: rgb(134, 0, 0);
  }
}

.WishlistCards {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 0.6cm;
  align-items: center;
  justify-content: center;
  padding: 0.5cm;
  display: none;
}

.WishlistCard {
  width: 100%;
  padding: 0.2cm;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  column-gap: 0.2cm;
  border: 1.5px solid $primarycolor;
  border-radius: 10px;
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.WishlistImg {
  width: 4cm;
  height: 100%;
  border-radius: 10px;
  border:thin solid $primarycolor;
}
.WishlistInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.2cm;
  padding: 0.2cm;
}

.ListDataSmall {
  align-self: flex-start;
  font-size: 16px;
  line-break: loose;
}

.bold {
  font-weight: bold;
}

@media screen and (max-width: 1440px) {
  .WishlistDiv {
    margin-top: 0.8cm;
    gap: 0.8cm;
  }

  .WishlistRow1 {
    font-size: 32px;
    margin-bottom: 1cm;
  }

  .WishlistTable {
    padding: 0.2cm;
    border: thin solid $primarycolor;
    box-shadow: 0px 2px 0.8px 0.6px grey;
    border-radius: 8px;
    width: 80vw;
    background-color: whitesmoke;
  }

  .ListHead,
  .ListData {
    padding: 0.4cm;
    align-items: center;
    max-width: 18vw;
  }

  .ListImg {
    width: 2.5cm;
  }
}

@media screen and (max-width: 1024px) {
  .WishlistDiv {
    margin-top: 0.7cm;
    gap: 0.6cm;
  }

  .WishlistRow1 {
    font-size: 30px;
    margin-bottom: 0.7cm;
  }

  .WishlistTable {
    padding: 0.2cm;
    border: thin solid $primarycolor;
    box-shadow: 0px 2px 0.8px 0.6px grey;
    border-radius: 8px;
    width: 90vw;
    background-color: whitesmoke;
  }

  .ListHead,
  .ListData {
    padding: 0.3cm;
    align-items: center;
    max-width: 18%;
  }

  .ListImg {
    width: 2.3cm;
  }
}

@media screen and (max-width: 768px) {
  .WishlistDiv {
    margin-top: 0.7cm;
    gap: 0.6cm;
  }

  .WishlistRow1 {
    font-size: 30px;
    margin-bottom: 0.7cm;
  }

  .WishlistTable {
    padding: 0.2cm;
    border: thin solid $primarycolor;
    box-shadow: 0px 2px 0.8px 0.6px grey;
    border-radius: 8px;
    width: 90vw;
    background-color: whitesmoke;
  }

  .ListHead,
  .ListData {
    padding: 0.3cm;
    align-items: center;
    max-width: 18%;
  }

  .ListImg {
    width: 2.3cm;
  }

  .AddToCartBtnImg,
  .deleteBtn {
    width: 0.6cm;
    padding: 0.2cm;
  }
}

@media screen and (max-width: 768px) {
  .WishlistTable {
    display: none;
  }

  .WishlistCards {
    display: flex;
  }

  .AddToCartBtn {
    display: flex;
  }

  .AddToCartBtnImg {
    display: none;
  }

  .ListDataSmall {
    align-self: flex-start;
    font-size: 18px;
  }
}

@media screen and (max-width: 600px) {
  .ListDataSmall {
    align-self: flex-start;
    font-size: 16px;
  }
  .WishlistImg {
    width: 3cm;
  }
  .AddToCartBtn {
    padding: 0.1cm 0.4cm;
    align-self: center;
    font-size: 14px;
  }
  .deleteBtn {
    width: 0.6cm;
    padding: 0.2cm;
  }
}

@media screen and (max-width: 450px) {
  .ListDataSmall {
    align-self: flex-start;
    font-size: 13px;
  }
  .AddToCartBtn {
    display: none;
  }

  .AddToCartBtnImg {
    display: flex;
  }
  .deleteBtn {
    width: 0.6cm;
    padding: 0.2cm;
  }
}

@media screen and (max-width: 450px) {
  .WishlistCard {
    width:80%;
    display: flex;
    flex-direction: column;
    gap: 0.2cm;
  }

  .alignCenter{
    align-self: center;
  }
}
