@import url("https://fonts.googleapis.com/css2?family=Quattrocento:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
// @import url('https://fonts.googleapis.com/css2?family=:wght@400;700&display=swap');

$headFont: Quattrocento;

$primarycolor: #486455;
$secondarycolor: #e4af47;

* {
  text-decoration: none;
  padding: none;
  margin: 0;
}

.recycle-lower {
  padding: 1cm 5vw 2cm 5vw;
}

.recycle-intro {
  display: flex;
  flex-direction: column;
  gap: 0.2cm;
}

.rec-head {
  font-size: 20px;
  font-weight: 600;
  // text-align: center;
  flex-shrink: 0;
  // text-align: left;
  // border: 1px solid black;
  color: $primarycolor;
  // border-bottom: thin solid $primarycolor ;
  // padding-top: 0.2cm;
  align-items: flex-start;
}

.rec-text {
  text-align: center;
  font-size: 16px;
  color: $primarycolor;
  // align-items: flex-end;
  align-items: flex-start;
}

.rec-process-text {
  // border: 1px solid black;
  // height: 100%;
}

.no-underline {
  text-decoration: none;
}

.rct {
  text-align: center;
}

.recycle-head {
  font-size: 3rem;
  font-family: $headFont;
  color: $primarycolor;
  font-weight: 600;
}

.prc {
  width: 15cm;
  border-radius: 10px;
  margin-bottom: 1cm;
}

.recycle-content {
  display: flex;
  flex-direction: column;
  gap: 3cm;
  margin-top: 0.5cm;
}

.rec-img-box {
  width: 4cm;
  height: auto;
  flex-shrink: 0;
}

@keyframes divLeft {
  from {
    opacity: 0.5;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes divRight {
  from {
    opacity: 0.5;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.rec-new-box.active-left {
  opacity: 1;
  animation: divLeft 1s ease-in;
}

.rec-new-box.active-right {
  opacity: 1;
  animation: divRight 1s ease-in;
}
.rec-new-box {
  width: 80vw;
  display: flex;
  flex-direction: row;
  height: fit-content;
  justify-content: center;
  gap: 1cm;
  align-items: center;
  border: 2.5px solid whitesmoke;
  border-right: 2.5px solid $primarycolor;
  border-left: 2.5px solid $primarycolor;
  border-radius: 10px;
  padding: 0.3cm;
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  &:hover {
    border: 2.5px solid $primarycolor;
  }
  opacity: 0;
}

.leftAlign {
  justify-content: start;
  left: 0;
}

.rightAlign {
  justify-content: end;
  right: 0;
}
.rec-imgs {
  display: flex;
  align-items: center;
  gap: 1cm;
  margin-top: 1cm;
  flex-wrap: wrap;
  justify-content: center;
}

.rec-img {
  width: 4cm;
  // border-radius: 50%;
  // border: 1px solid black;
  border-radius: 10px;
}

.recycle-process {
  display: flex;
  flex-direction: column;
  gap: 1.5cm;
  margin-top: 1.5cm;
}

.rec-left {
  display: flex;
  align-items: flex-start;
  gap: 1cm;
}

.rr {
  flex-direction: row-reverse;
}

.rhh {
  text-align: center;
}

.rec-det-box {
  display: flex;
  flex-direction: column;
  gap: 0.3cm;
  margin-top: 0.5cm;
}

.rec-det {
  display: flex;
  flex-direction: row;
  gap: 0.2cm;
  align-items: flex-start;
}

.rlt {
  text-align: left;
}

.no-underline {
  border: none;
}

.table-details {
  background-color: whitesmoke;
  border-radius: 3px;
  padding: 0.5cm;
  border: 2px solid $primarycolor;
}

.table-details-color {
  background-color: $primarycolor;
  color: whitesmoke;
  border-right: 4px solid $secondarycolor;
  border-left: 4px solid $secondarycolor;
  background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
}

.tRowNum {
  padding: 0.5cm;
  font-weight: bold;
  font-size: 18px;
}
.tRowData {
  border-bottom: thin solid $primarycolor;
  opacity: 0;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.tRowData.active-collection {
  animation: fadeInUp 0.8s ease forwards;
}

.tRowHead {
  font-weight: bold;
  font-size: 18px;
  text-align: left;
}
.tRowTxt {
  margin-left: none;
  text-align: left;
}

.boldTxt {
  font-weight: bold;
  color: whitesmoke;
  // animation: boldAnimate 1s ease infinite;
  // transition: 0.8s ease;
  &:hover {
    text-decoration: underline;
  }
}

@keyframes boldAnimate {
  0% {
    font-weight: 500;
  }
  50% {
    font-weight: bolder;
  }
  100% {
    font-weight: bold;
  }
}
@media only screen and (max-width: 1500px) {
  .recycle-head {
    font-size: 40px;
  }
}

@media only screen and (max-width: 1000px) {
  .rec-new-box {
    width: 80vw;
  }

  .rec-img {
    width: 3cm;
  }

  @keyframes divLeft {
    from {
      opacity: 0.5;
      transform: translateX(-180px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes divRight {
    from {
      opacity: 0.5;
      transform: translateX(180px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

@media only screen and (max-width: 900px) {
  .rec-new-box {
    width: 80vw;
  }

  .rec-img {
    width: 2.6cm;
  }

  .recycle-head {
    font-size: 36px;
  }

  .prc {
    width: 13cm;
  }
}

@media only screen and (max-width: 800px) {
  .rec-new-box {
    width: 90vw;
  }

  .rec-img {
    width: 2cm;
  }

  .rec-text {
    font-size: 14px;
  }

  .rec-head {
    font-size: 16px;
  }
}

@media only screen and (max-width: 700px) {
  .rec-imgs {
    gap: 0.5cm;
  }

  .rec-new-box {
    // width: 100%;
    gap: 0.5cm;
  }

  .prc {
    width: 12cm;
  }

  .recycle-head {
    font-size: 32px;
    padding: 0.3cm;
  }
  .tRowNum {
    font-size: 16px;
  }
  .tRowHead {
    font-weight: bold;
    font-size: 16px;
    text-align: left;
  }
  .tRowTxt {
    font-size: 14px;
    margin-left: none;
    text-align: left;
  }
  @keyframes divLeft {
    from {
      opacity: 0.5;
      transform: translateX(-150px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes divRight {
    from {
      opacity: 0.5;
      transform: translateX(150px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

@media only screen and (max-width: 600px) {
  .prc {
    width: 100%;
  }

  .rec-new-box {
    flex-direction: column;
  }

  .rec-det {
    flex-direction: column;
  }

  .rec-img {
    width: 1.5cm;
  }

  .recycle-content {
    gap: 2cm;
  }

  .recycle-lower {
    padding: 0cm 5vw;
  }

  .table-details {
    padding: 0.4cm;
  }

  .tRowData {
    display: flex;
    flex-direction: column;
  }

  .tRowHead {
    font-weight: bold;
    font-size: 16px;
    // text-decoration: underline;
    text-align: center;
    padding-bottom: 0.2cm;
  }
  .tRowTxt {
    margin-left: none;
    text-align: center;
  }
}

@media only screen and (max-width: 500px) {
  .recycle-head {
    font-size: 28px;
  }

  @keyframes divLeft {
    from {
      opacity: 0.5;
      transform: translateX(-100px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes divRight {
    from {
      opacity: 0.5;
      transform: translateX(100px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

@media only screen and (max-width: 350px) {
  .recycle-head {
    font-size: 28px;
  }

  @keyframes divLeft {
    from {
      opacity: 0.5;
      transform: translateX(-10px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes divRight {
    from {
      opacity: 0.5;
      transform: translateX(10px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}