/* Popup.css */

.popup-container {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -20%);
  width: 25vw;
  height: 150px;
  z-index: 10;
  pointer-events: none;
  
  #tsparticles{
    z-index: 9999;
  }

//   #tsparticles{
//     width:100vw;
//   }
}

.image-background{
  width:0.7cm;
  padding:0.2cm;
  background-color: #fffffff7;
  border-radius:25%;
}
.popup-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(55, 99, 83);
  border-radius: 2px;
  padding: 20px;
  text-align: center;
  z-index: 10;
  color: #ffffff;
  box-shadow: 0 0 20px rgba(245, 245, 245, 0.938);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: all;
  animation: popupFadeIn 0.3s ease-out;
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  cursor: pointer;
  color: #ff5050;
}

.popup-text {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
}

@keyframes popupFadeIn {
  from {
    opacity: 0;
    // transform: translate(-50%, -30%);
  }
  to {
    opacity: 1;
    // transform: translate(-50%, -20%);
  }
}

@media only screen and (max-width:800px) {
  .popup-container{
    width: 50vw;
  }
}

@media only screen and (max-width:400px) {
  .popup-container{
    width: 70vw;
    left: 45vw;
  }

  .popup-box{
    font-size: 14px;
  }
}